%h3 Thanks for your support!
%p Thanks so much! We'll keep you updated with our developments and let you know when we launch our Kickstarter!

%p In the meantime, please follow us on Twitter and tell your friends about us.

<a href="https://twitter.com/o_portfolio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @o_portfolio</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
