%h3 Help us make oPortfolio!
%p We want you to help us choose and design oPortfolio's functionality, and we would love your help in funding us through Kickstarter.
%p Simply pop your email address in the box below and we'll keep you updated about when and how you can help. Thank you! 

=form_for @user do |f|
    =f.email_field :email, placeholder: "Enter Your Email Address..."
    =f.submit "Subscribe to Updates »", class: "btn"

%p.small We won't use your email address for anything other than sending you oPortfolio updates.
