%h2 Help Support Us!
%p You can help by supporting us on Kickstarter and by telling us about the features you want.
%p Simply pop your email address in the box below and we'll get in touch when we launch ways for you to be involved. 

=form_for @user do |f|
    =f.email_field :email, placeholder: "Enter Your Email Address..."
    =f.submit "Subscribe to Updates »", class: "btn"

%p.small We won't use your email address for anything other than sending you updates.
