/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, input {
  font-family:'Open Sans', sans-serif;
  font-size:13pt;
  line-height:17pt;
  font-weight:300;
  color:#333;
}
body {
  background-color:white;
  margin:0px;
  padding:0px;
  background-image:image-url('bg.jpg');
  background-repeat:repeat-x;
}
#container {
    background-image:image-url('person.jpg');
    background-repeat:no-repeat;
    background-position:-120px 0px;
    padding-left:570px;
    padding-top:50px;
    height:515px;
    border-bottom:2px solid #333;
    #content {
        width:600px;
    }
}
h1 {
  font-size:20pt;
  font-weight:400;
  margin-top:0px;
}

h2 {
  font-weight:400;
  font-size: 17pt;
  margin-top:30px;
}

.small {
    font-size:10pt;
}

input[type=email] {
    padding:5px;
    border:1px solid #666;
    border-radius:5px;
    display:inline-block;
    margin:0px 5px 0px 0px;
    width:355px;
}

$btn_color_1: #5bb900 ;
$btn_color_2: darken(#5bb900, 10%);
.btn {
    display:inline-block;
	color: #ffffff;
	padding: 5px 20px 6px 20px;
	background: -moz-linear-gradient(
		top,
		$btn_color_1 0%,
		$btn_color_2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from($btn_color_1),
		to($btn_color_2));
	border-radius: 5px;
	border: 1px solid #666;
    box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}

footer {
  display:block;
  margin:0px auto;
  padding:20px 50px 10px 50px ;
  overflow:hidden;
  width:480px;
  border-bottom:1px solid #666;

  a {
      display:block;
      float:left;
      img {
          height:30px;
      }
  }
  .meducation {
  
      margin:0px 30px;
  }

  .podmedics {
    }
  .dor {}
}
