!!!
%html
    %head
        %title oPortfolio 
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application" 
        = csrf_meta_tags
        
        %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel:'stylesheet', type:'text/css'}
    %body
        #container
            #content
                %h1 Is your ePortfolio driving you to despair?
                %p Too slow? Uninituitve? Missing loads of features? No mobile access?
                %p We're going to change all that! We're making a portfolio that has everything that medics want. It'll be free to for the NHS to use, open-source, fast, modern, feature-rich, portable and interoperable between deaneries.

                =yield
        %footer 
            =link_to image_tag("podmedics.png", alt: "Podmedics"), "http://kaizen-ursus.com", class: 'podmedics'
            =link_to image_tag("meducation.png", alt: "Meducation"), "https://www.meducation.net", class: 'meducation'
            =link_to image_tag("dor.png", alt: "Doctors on rails"), "http://www.doctorsonrails.org", class: 'dor'
